aside {
    width: 30%;
    border-radius: 14px;
    border: 4px inset purple;
    margin: 1em;
    padding: 1em;
    background: url(/images/fade.jpg) repeat-x top-left;
    float: right;
    box-shadow: 10px 10px 5px #aaaaaa;
} aside:hover {
    display:block;
} table {
    float: center;
    margin: auto;
    border: 2px solid darkgray;
}
 header {
    border: 2px solid darkgray;
    margin: 1em;
    padding: 1em;
    background-color: lightgray;
    text-align: center;
} footer {
    border-top: 4px double darkgray;
}#lists {
    float: left;
} #tables {
    float: center;
    margin: auto;
} #hyperlinks {
    width: 48.5%;
    clear: both;
    float: left;
    text-align: center;
} footer {
    clear: both;
} #images {
    float: right;
} #lists, #images, #tables #hyperlinks {
    width: 50%;
    text-align:center;
    box-sizing: border-box;
} ol, ul, dl {text-align: left;}
article { min-width:30em; }
footer > p {display:inline-block;  width:33%}
footer p:first-child { float:left; }

footer p:nth-child(2) {text-align: center; }

footer p:last-child {float:right; text-align:right; }

/* styling definition list */
dl {
    border: 3px double #ccc;
    padding: 0.5em;
  }
  dt {
    clear: left;
	float: left;
    width: 40%;
	text-align: right;
    font-weight: bold;
    color: green;
  }
  dt::after {
    content: " :"; 
  }

  dd {
    width: 55%;
	margin-left: 42%;
} #tableTitle {
    text-align: center;
} #tableTitle1 {
    float: center;
} figure {
    border: 2px solid #ccc;
}
